<div class="row">
    <!--end col-->

       <div class="col-lg-12">
           <div class="card">
               <div class="card-body">
                    <h4 class="mt-0 header-title"  style="margin:55px 0;color: rgb(210, 30, 114);text-align: center;"> Détails </h4>
                    <div class="">
                        <ol class="breadcrumb">
                            <li class="d-inline-block align-middle mb-0 product-name"     ><a href="javascript:void(0);" routerLink='/list-equipement' >Liste</a></li>
                            <li class="d-inline-block align-middle mb-0 product-name"><a href="javascript:void(0);"  ></a>Equipement</li>
                           <li class="d-inline-block align-middle mb-0 product-name" style="color:rgb(210, 30, 114)"><a href="javascript:void(0);"  ></a>Détails </li>
                        </ol>
                    </div>  
    
                    
                    <div class="row">
                        <div class="col-lg-6">
                            <img   src ="http://127.0.0.1:1337/images/{{equipement.image}}"  alt="" class=" mx-auto  d-block"  width ="400" height="400">
                            <div class="row">
                                <div class="col-sm-4">
    
                                </div>
                                <div class="col-sm-4"></div>
                                <div class="col-sm-4"></div>
                            </div>
                        </div><!--end col-->
    
                    <div class="col-lg-6 align-self-center">
                        <div class="single-pro-detail">
                            <p class="mb-1">Détail</p>
                            <div class="custom-border"></div>
                            <h3 class="pro-title">{{equipement.libelle}}r</h3>
                            <p class="text-muted mb-2"></p> 
                            <h2 class="pro-price"> <span><del></del></span><small class="text-danger font-weight-bold ml-2"></small></h2> 
                            <ul class="list-inline mb-2 product-review">
                                <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star-half text-warning"></i></li>
                                
                            </ul>
                            <h6 class=" pro-price">Caracteristique :</h6> 
                            <ul class="list-unstyled pro-features border-0">
                                <li  class=" font-13" style="color: black;">Date en service:{{equipement.date_en_service}}</li>

                                <li  class=" text font-13" style="color: black;">Référence:{{equipement.numero_model}}</li>
                                <li  class=" font-13" style="color: black;">Marque:{{equipement.numero_serie}} </li>
                                <li  class=" font-13" style="color: black;">Code:{{equipement.marque}}</li>
                                <li  class=" font-13" style="color: black;">Installé sur le Service:<strong>{{equipement.service.nom_service}}</strong></li>
                            </ul>
                             
                         
                           
                                                                   
                        </div>
               
                </div>
            </div>
</div>
</div>
</div>