/* .badge badge-white{
    background-color: white;

} */
.my-1{
    color:#005F99;
  }
 .pad{
    margin-top: 20px;
  }
  /* .btn-sm  {
    opacity: 0.4;
    color: aliceblue; 
    pointer-events: none;
  } */