.content1{
    position: relative;
    top: 7px; left: 60px;
    padding-left: 35%;
}
.image{
    display: block;
    width: 0%;
    height: 0%;
    text-align:center;
    border-radius: 50%;
    padding-top:20px;
    padding-left: 75px;
}
