<div class="row vh-100 accountbg">
    
    <div class="col-md-8 p-0 d-flex justify-content-center">
        <div class=" d-flex align-items-center"> 
            <div class="account-title text-white text-center">
                <img  src="assets/images/logo.png" alt=""  class="thumb-smCustom">
                <h4 class="mt-3">Connectez vous sur MaintCare</h4>
                <div class="border w-25 mx-auto border-primary"></div>
                <h1 class=""></h1>
                <p class="font-14 mt-3">MaintCare  vise en premier lieu à assister les services maintenance des entreprises dans leurs missions </p>
               
            </div>
        </div>
    </div>
    <div class="col-md-4 pr-0 pl-0  ">
        <div class="card mb-0 shadow-none" style="margin-top: 23%;margin-right: 20%;">
            <div class="card-body">
                
                <div class="px-3">
                                                                                                                                       
                            <h3 class="mt-15 mb-1 text-primary text-center">Se connecter</h3>
                            <p class="text-muted mb-0"></p>
                       

                      
                 

                    <form  class="form-horizontal my-4" [formGroup]="loginForm" (ngSubmit)="onSubmit()" action="" >
                      
                         <div class="form-group">
                                <label for="email">Email</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"  id="basic-addon1"><i  class="fa fa-at" aria-hidden="true"></i>  </span>
                                    </div>
                                        <input type="email" class="form-control" id="email" formControlName="email" placeholder="Entrer votre email"[ngClass]=" {'is-valid': submitted && loginFormControl.email.isvalid }" >
                                        <!-- <div    email required></div> -->
                                </div> 
                               
                                            <!-- required block -->
                            <span style="margin-left: 15%;" class="text-danger" class="invalid-feedback"
                                *ngIf="(loginFormControl.email.touched || submitted) && loginFormControl.email.errors?.required"  class="border-danger">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                Email est obligatoire
                            </span>
                                            <!-- error block -->
                            <span style="margin-left: 15%;" class="text-danger"
                                *ngIf="loginFormControl.email.touched && loginFormControl.email.errors?.email" class="border-danger">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                Entrez une adresse valide   
                            </span> 
                        </div>


                    <div class="form-group">
                            <label for="password">Mot de passe</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon2"><i class="mdi mdi-key font-16"></i></span>
                                </div>
                                <input type="password" class="form-control" formControlName="password" id="password" placeholder="Entrer votre mot de passe">
                            </div>
                              
                                              <!-- required block -->
                        <span style="margin-left: 15%;" class="text-danger"
                            *ngIf="(loginFormControl.password.touched || submitted) && loginFormControl.password.errors?.required"  class="border-danger">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            Password est obligatoire
                        </span>
                                             <!-- error block -->
                        <span  style="margin-left: 15%;" class="text-danger"
                            *ngIf="loginFormControl.password.touched && loginFormControl.password.errors?.minlength"  class="border-danger">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            Votre mot de passe est courte 
                        </span> 
                    </div>

                        <div class="form-group row mt-4">
                            
                            <div class="col-sm-12 text-right">
                                <a href="pages-recoverpw-2.html" class="text-muted font-13"><i class="mdi mdi-lock"></i> Mot de passe oublié?</a>                                    
                            </div>
                        </div>
                            <!--alert danger login-->
                            
                        <div class="form-group ">                         
                            <div class="alert icon-custom-alert alert-outline-pink b-round fade show pa-5 mb-0" role="alert" *ngIf="error==1">
                                <i class="mdi mdi-alert-outline alert-icon "></i>
                                    <div class="alert-text">
                                        <strong> Coordonnées Invalid ! </strong>  
                                    </div>
                                </div>
                              </div>

                        <div class="form-group mb-0 row">
                            <div class="col-12 mt-2">
                                <button  class="btn btn-primary btn-block waves-effect waves-light" type="submit">Connexion <i class="fas fa-sign-in-alt ml-1"></i></button>
                            </div>
                       </div>  
                       
                    </form>
                   
             
          
                                      
            </div>
        </div>
    </div>
    </div>
</div>
 
<!-- End Log In page -->