<div class="row">
    <!--end col-->

       <div class="col-lg-12">
           <div class="card">
               <div class="card-body">

                <div class="float-right align-item-center mt-2">
                    <button class="btn btn-info btn-round  waves-effect waves-light px-4 align-self-center report-btn" routerLink='/intervention'>Ajouter une intervention </button>
                </div>
                <h4 class="mt-0 header-title"  style="margin:55px 0;color: #1B262C"> Liste des interventions planifié</h4>

                <div class="table-responsive">
                    <table class="table table-bordered mb-0 table-centered">
                        <thead>
                        <tr>
                            <th>Panne</th>
                            <th>Date</th>
<!--                        <th>Durée arrte de Machine</th>
 -->                         <th>Réaliser par</th>
                            <th>Dégre</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let demande of Demandeintervention">
                            <td>{{demande.panne}}</td>
                            <td>{{demande.date}}</td>
                            <!-- <td>{{demande.dureearretmachine}}</td> -->
                            <td>{{demande.employee.nom}} {{demande.employee.prenom}}</td>
                            <td>{{demande.ordreinterventions[0].degre}}</td>
                           <td>
                            <button type="button" class="btn-sm btn-success btn-round"     style="margin:5px"   routerLink="/Details-intervention/{{demande.id}}" ><i class="mdi mdi-eye"></i></button>
                            <button type="button" class="btn btn-sm btn-warning btn-round" style="margin:5px"  routerLink="/intervention-update/{{demande.id}}" ><i class="fas fa-edit"></i></button>
                            <button type="button" class="btn btn-sm btn-danger btn-round"  style="margin:5px"   (click)="triggerModal(modalData1,demande.id)" ><i class="fas fa-trash-alt"></i></button>
                
                           </td>
                        </tr>
                    </tbody>
                </table><!--end /table-->
                </div>
        </div>
        </div>
        </div>
    </div>

    <ng-template #modalData1 let-modal>
        <div class="modal-header">                      
            <h3 class="modal-title">Supprimer Admin</h3>
        </div>      
        <div class="modal-body">                    
        <p>Voulez-vous vraiment supprimer ces enregistrements?</p>
        </div>
        <div class="modal-footer">
        <input type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.close('Save click')"  value="Annuler">
        <input type="button" class="btn btn-danger" value="supprimer" (click)="modal.close('Save click')"  (click)="deleteDemande()" >  
        </div>
        </ng-template>